input:checked ~ .checkmark {
  background-color: #0c6efd;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
  left: 4px;
  top: 0px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
input:checked ~ .checkmark:after {
  display: block;
}
