@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
}

ul {
  list-style: none;
}
.textarea-container::-webkit-scrollbar {
  display: none;
}
.absolute-center {
  @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d1d1d4;
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.connect_btn {
  @apply align-middle duration-300;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-property: color;
  transition-property: color;
}
.connect_btn:before {
  @apply absolute inset-0 z-[-1];
  content: '';
  background: black;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.connect_btn:hover,
.connect_btn:focus,
.connect_btn:active {
  color: white !important;
}
.connect_btn:hover:before,
.connect_btn:focus:before,
.connect_btn:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.Toastify__toast {
  background-color: #e4e4e3 !important;
  color: #333 !important;
}

.Toastify__toast::before {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  height: 100% !important;
  width: 8px !important;
  border-radius: 3px !important;
  content: '' !important;
}
.Toastify__toast--success::before {
  background-color: #05eb02 !important;
}

.Toastify__toast--error::before {
  background-color: #e52430 !important;
}
.Toastify__close-button {
  color: #333 !important;
}
